.container {
	position: fixed;
	top: 31px;
<<<<<<< HEAD
=======
	z-index: 50;
>>>>>>> cb3d7b63f234c0e1e03c7ba9d971d2ce331ba561
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	background-color: #000000;
	border-right: 1px;
	transition: transform 0.5s ease;
}

.container:hover {
	background-color: #ffc802;
}

.container:active {
	background-color: #787878;
}

.container_open {
<<<<<<< HEAD
	transform: translate(616px);
=======
	transform: translateX(616px);
>>>>>>> cb3d7b63f234c0e1e03c7ba9d971d2ce331ba561
}

.arrow {
	flex-shrink: 0;
	width: 48px;
	height: 48px;
	transform: rotate(180deg);
	transition: transform 0.5s ease;
}

.arrow_open {
	transform: rotate(0deg);
}
