.group {
	display: inline-flex;
	box-sizing: border-box;
	max-width: fit-content;
<<<<<<< HEAD
=======
	margin-top: 4px;
	margin-bottom: 50px;
>>>>>>> cb3d7b63f234c0e1e03c7ba9d971d2ce331ba561
	border: 1px solid #000000;
}

.item {
	position: relative;
	display: block;
}

.input {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.label {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 124px;
	height: 35px;
	text-align: center;
	border-right: 1px solid #000000;
	cursor: pointer;
}

<<<<<<< HEAD
/* Убираем бордер у последнего в radiogroup, чтобы не было двойного бордера */

=======
>>>>>>> cb3d7b63f234c0e1e03c7ba9d971d2ce331ba561
.label:hover {
	background-color: #ffedab;
}

.item[data-checked='true'] .label {
	background: var(--gold, #ffc802);
}

.item:last-child .label {
	border: none;
}

.item[data-checked='true'] .label:hover {
	background: var(--gold, #ffc802);
}

.container {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
}
